#root {
  max-width: 500px;
  margin: 0;
  padding-top: 2rem;
  text-align: left;
}

h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 2px #000000;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

canvas {
  z-index: -1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expansion-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  text-align: left;
  list-style-type: none;
}
